.bootapp.log
.DS_Store
.history
.version
.build
.docker
/vendor
temp
limepie-zep
*.dab
*.pem
*.bak
deploy/webserver.tgz
backup
var/certs
var/localstack
!var/php.ini
!data/template/var
!.data
*.sql
.TheUnarchiverTemp*
*.auto.*
xxx.*
**/xxx.*
var/nginx
var/mysql
